:root{
    --column-decoration: 3s;
}
   
body{
    padding: 0;
    margin: 0;
    background-image: url('../images/archer-fu-43fqLoSuNGQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #ce818c;
    display: flex;
    height: 6vh;
    padding: 8px;
    margin: 1%;
    position: relative;
}
header .icon-corbeil{
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
}
header button{
    margin: 9px;
}
main{
    min-height: 92vh;
    display: flex;
    padding: 5px;
    
}

.container{
    position: relative;
    border: 2px solid white;
    height: 80vh;
    max-width: 18vw;
    border-radius: 10px;
    margin: 5px;
    animation-duration: var(--column-decoration);
    animation-name: myAnimation;
    
}
.container .close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    cursor: default;
}
.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    width: 100%;

}
.card .entete-card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 7%;
}
.card .img{
    height: 15%;
}
.img img{
    width: 100%;
    height: 100%;
}
.note{
    height: auto;
    background-image: url('../images/logo.png');
    background-size: 100% 100%;
   height: 82%;
   overflow: scroll;
}
.note .us{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: #d2f0e8;
    position: relative;
}
.noteToggle{
    /* transform: translateY(100%); */
}
.us textarea{
    width: 90%;
    height: 50px;
    background-color: #b1ccc4;

}
.us textarea:focus{
   outline: none;
   background-color: white;
    
}
.note .us span{
    background-color: #17ac84;
    width: 34px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}
.span-next{
    position: absolute;
    top: 0;
    right: 0;
}
.modal{
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal.show-modal{
    display: block;
}
.modal-container{
    overflow: hidden;
    background-color: #e2bdb4;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    height: 70%;
    z-index: 100;
}
.modal-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 8px;
}
.modal-head span{
    cursor: default;
}
.modal-main p{
    font-weight: bold;
   
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.btn{
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;

}
form button{
  
    width: 80%;
}
form button:hover{
    background-color: #17ac84;

}
.corbeil{
    display: none;
    position: fixed ;
    top: 0;
    left: 0;
    right: 5%;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.8); */

}
.corbeil.show-corbeil{
    display: block;
}
.corbeil-container{
    background-color: #e2bdb4;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 10px;
    left: 50%;
    box-shadow: 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    min-height: 70%;
    width: 45%;
    z-index: 90;
}
.corbeil-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 8px;
}
.corbeil-header span{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: center;
}
.corbeil-etat{
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid grey;
}
.corbeil-etat button{
    position: absolute;
    right: 0;
    font-weight: bold;
}

@keyframes myAnimation{
    from{
        opacity: 0;
        transform: scale(0);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}