:root{
    --column-decoration: 3s;
    --primary-color: #505050;
    --secondary-color: #b4b4b4
}
   
body{
    padding: 0;
    margin: 0;
    background-image: url('../images/nikita-tikhomirov-iTIwzn2Fa8Y-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: var(--primary-color);
    display: flex;
    height: 6vh;
    padding: 8px;
    margin: 1%;
    position: relative;
}
header .icon-corbeil{
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
}
header button{
    margin: 9px;
}
main{
    min-height: 92vh;
    display: flex;
    padding: 5px;
    
}

.container{
    position: relative;
    border: 2px solid white;
    height: 80vh;
    max-width: 18vw;
    border-radius: 10px;
    margin: 5px;
    animation-duration: var(--column-decoration);
    animation-name: myAnimation;
    width: 27%;
    
}
.container:first-child .card .note .us .span-prev{
    display: none;
}
.container:last-child .card .note .us .span-next{
    display: none;
}
.container .close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    cursor: default;
}
.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    width: 100%;

}
.card .entete-card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 7%;
    
}
.card .entete-card:focus{
    outline: none;
}
.card .img{
    height: 15%;
}
.img img{
    width: 100%;
    height: 100%;
}
.note{
    height: auto;
    background-image: url('../images/log.png');
    background-size: 100% 100%;
   height: 82%;
   overflow: scroll;
}
.note .us{
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
.note .us:hover .noteToggle{
    display: block;
}
.noteToggle{
    display: none;
}
.noteToggle.show-noteToggle{
    display: none;
}
.us textarea{
    width: 90%;
    height: 60px;
    background-color: white

}
.us textarea:focus{
   outline: none;
   background-color: white;
    
}

.delete-tache{
    cursor: pointer;
    width: 10%;
    height: 19%;
    position: absolute;
    height: 10%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b80808;
    border-radius: 50%;
    color: white;
}
.span-next{
    width: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 2rem;
    height: 24px;
   
    background-color: rgb(196, 193, 193);
}
.span-prev{
    width: 36px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: 0;
    cursor: pointer;
    font-size: 2rem;
    height: 24px;
    
    background-color: rgb(196, 193, 193);
}
.modal{
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal.show-modal{
    display: block;
}
.modal-container{
    overflow: hidden;
    background-color: var(--secondary-color);
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    height: 70%;
    z-index: 100;
}
.modal-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 8px;
}
.modal-head span{
    cursor: default;
}
.modal-main p{
    font-weight: bold;
   
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.btn{
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn #modifier{
    display: none;
}
.btn #modifier.show-btn-modifier{
    display: block;
    background-color: green;
}
.btn #ajouter.hidden-btn-modifier {
    display: none;
}
form button{
  
    width: 80%;
}
form button:hover{
    background-color: var(--secondary-color);

}
.corbeil{
    display: none;
    position: fixed ;
    top: 0;
    left: 0;
    right: 5%;
    bottom: 0;

}
.corbeil.show-corbeil{
    display: block;
}
.corbeil.corbeil.show-corbeil .us:hover .noteToggle{
    display: block;
}
.corbeil.corbeil.show-corbeil .span-next{
    display: none;
}
.corbeil.corbeil.show-corbeil .span-prev{
    display: none;
}
.corbeil.corbeil.show-corbeil .delete-tache{
    display: none;
}
.corbeil-container{
    background-color: var(--secondary-color);
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 10px;
    left: 50%;
    box-shadow: 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    min-height: 70%;
    width: 45%;
    z-index: 90;
}
.corbeil-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 8px;
}
.corbeil-header span{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: center;
    cursor: pointer;
}
.corbeil-etat{
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid grey;
}
.corbeil-etat button{
    position: absolute;
    right: 0;
    font-weight: bold;
}

@keyframes myAnimation{
    from{
        opacity: 0;
        transform: scale(0);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}
.notification{
    border-radius: 10px;
    display: none;
    position: fixed ;
    top: 20%;
    left: 25%;
    right: 25%;
    bottom: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.notification .btn-notification{
    width: 30%;
    height: 25%;
    background-color: var(--secondary-color);
    font-size: 2rem;
    border-radius: 10px;
}
.notification .btn-notification:hover{
    background-color: var(--primary-color);
}
.notification.show-erreur{
    display: block;
}
.message-notification{
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btnPopup.show-ntnPopup{
    display: block;
}

.us .restaurer{
    display: none;
}
.corbeil.corbeil.show-corbeil .restaurer{
    display: block;
}
.corbeil.corbeil.show-corbeil .textarea{
    width: 80%;
}